#vim temp files
*~
*.swp
*.rpm

#node npm directory
node_modules/
tmpFiles/

#log files
*.log
*.err

#ctags
tags

#ignore the go executables

#ignore the nsca config files, as they may have confidential info (passwords, etc)
*.cfg
